* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 20px 0;
    font-family: 'Futura PT', sans-serif;
    font-size: 17px;
    background-color: #000000;
}

.h_f_container {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


footer {
    padding: 20px 0;
    font-family: 'Futura PT', sans-serif;
    font-size: 17px;
    background-color: #000000;
}

.title {
    font-family: "Lato", sans-serif;
}

.rhomb_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rhomb_gradient {
    width: 70.7%;
    height: 70.7%;
    transform: rotate(45deg);
    background: linear-gradient(#FF3333, #FF333300);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_footer_rhomb_wrapper {
    width: 86px;
    height: 86px;
}

.header_footer_rhomb_wrapper p {
    color: #FFFFFF;
    font-size: 14px;
    transform: rotate(-45deg);
}

.h_f_navigation {
    max-width: 650px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_link {
    font-size: 17px;
    line-height: 130%;
    text-decoration: none;
    color: #FFFFFF;
}

.nav_link:visited {
    color: #FFFFFF;
}

.media_icons {
    max-width: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_block {
    color: #FF3333;
    font-size: 17px;
    max-width: 81px;
    width: 100%;
    height: 30px;

}

.login_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.login_link:visited {
    color: #FF3333;
}

.new_currency {
    max-width: 1920px;
    width: 100%;
    height: 950px;
    position: relative;
    background-color: #000000;
    padding-top: 36px;
    padding-bottom: 210px;
}

.new_currency_ellips {
    max-width: 1129px;
    width: 100%;
    height: 516px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 51, 51, 0.5) 0%, rgba(255, 51, 51, 0) 100%);
    position: absolute;
    left: 120px;
    top: 16px;
}

.new_currency__title {
    font-family: "Lato", sans-serif;
    max-width: 1157px;
    width: 100%;
    margin: auto;
    margin-top: 68px;
    color: #FFFFFF;
    font-size: 110px;
    font-weight: 500;
    line-height: 130%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    position: relative;
    z-index: 1;
}

.new_currency__title-1-line {
    align-self: flex-start;
}

.new_currency_rhomb_wrapper {
    width: 141px;
    height: 141px;
    position: absolute;
    right: 58px;
    top: 10px;
}

.new_currency_rhomb_wrapper p {
    color: #FFFFFF;
    font-size: 20px;
    transform: rotate(-45deg);
}

.new_currency__wrapper {
    max-width: 580px;
    width: 100%;
    position: absolute;
    left: 35%;
    bottom: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new_currency__text {
    font-family: 'Futura PT', sans-serif;
    font-size: 24px;
    line-height: 130%;
    font-weight: 400;
    color: #FFFFFF;
    max-width: 300px;
    width: 100%;
}

.register_button {
    width: 244px;
    height: 70px;
    background-color: #FF3333;
    border: none;
    color: #FFFFFF;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Futura PT', sans-serif;
    font-size: 24px;
}

/* font-family: 'Futura PT', sans-serif; */
/* font-family: "Lato", sans-serif; */